{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container" style="background-color: white;  border-radius: 8px;">
<div class="center-div">
<div class="section container" style="text-align: center;">  
<div class="row">
<div class="col-md-5 col-md-push-2">
<h1>{% trans "Create an account" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div style="padding-bottom: 10px;">
  {{ form|crispy }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction primary-btn order-submit" type="submit">{% trans "Sign Up" %} &raquo;</button><span><bold><br>or</bold></span><i><a href="{% url 'base_app:sell' %}">{% trans " Sign Up as a Seller" %}</a></i>
</form>
</div>
</div>
</div>
</div>
</div>



{% endblock %}
