<!DOCTYPE html>

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% load static %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">


						<form method="POST" class="container">
						{% csrf_token %}

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								{% comment %}
									<input class="input" type="text" name="address" placeholder="Address">
								{% endcomment %}
								{{ form.address }}
							</div>
							<div class="form-group">
								{% comment %}
									<input class="input" type="tel" name="city" placeholder="City">
								{% endcomment %}
								{{ form.city}}
							</div>
							<div class="form-group">
								{% comment %}
								<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
								{% endcomment %}
								{{ form.zip_code }}
							</div>
							<div class="form-group">
								{% comment %}
								<input class="input" type="tel" name="tel" placeholder="Phone">
								{% endcomment %}
								{{ form.phone}}
							</div>
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Delivery address</h3>
							</div>
							<div class="input-checkbox">
								{% comment %}
									<input type="checkbox" id="shiping-address">
								{% endcomment %}
								{{ form.different_shipping_address }}
								<label for="shiping-address">
									<span></span>
									Deliver to a different address?
								</label>
								<div class="caption">
									<div class="form-group">
										{% comment %}
											<input class="input" type="text" name="address" placeholder="Address">
										{% endcomment %}
										{{ form.address_diff }}
									</div>
									<div class="form-group">
										{% comment %}
											<input class="input" type="tel" name="city" placeholder="City">
										{% endcomment %}
										{{ form.city_diff}}
									</div>
									<div class="form-group">
										{% comment %}
											<input class="input" type="tel" name="tel" placeholder="Phone">
										{% endcomment %}
										{{ form.phone_diff}}
									</div>
								</div>
																
								<div class="input-checkbox">
									{% comment %}
									<input type="checkbox" id="save_info">
									{% endcomment %}
									{{ form.save_info }}
									<label for="save_info">
										<span></span>
										Save this information for next time
									</label>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->
						

						<!-- Order notes -->
						<div class="order-notes">
							{% comment %}
							<textarea class="input" placeholder="Order Notes"></textarea>
							{% endcomment %}	
							{{ form.order_notes }}
						</div>
						<!-- /Order notes -->
						
					</div>
					

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						
						<div class="col-6">
						<div class="table-resposive text-nowrap">
						<div class="order-summary">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col""><strong>PRODUCT</strong></th>
									<th scope="col" class="text-right"><strong>TOTAL</strong></th>
								</tr>
							</thead>
							<tbody>
								<div class="order-products">
									{% for order_item in object.items.all %}
									<tr>
									<td>{{ order_item.quantity }}x {{ order_item.item.title }}</td>
									<td class="text-right">
										{% if order_item.item.discount_price %}
											${{ order_item.get_total_discount_item_price }}
										{% else %}
											${{ order_item.get_total_item_price }}
										{% endif %}
									</td>
									</tr>
									{% endfor %}
									<tr>
										<td>Delivery</td>
										<td class="text-right">FREE</td>
									</tr>
									<tr>
										<td>TOTAL</td>
										<td class="text-right"><strong class="order-total">{{object.get_total}}</strong></td>
									</tr>
								</tbody>
						</table>
						</div>
						</div>
						</div>
						
						
						<div class="payment-method">
							{% for value, name in form.fields.payment_option.choices %}
							<div class="input-radio">
								
								<input type="radio" name="payment_option" value="{{ value }}" id="{{ name }}" required>
								<label for="{{ name }}">
									<span></span>{{ name }}</label>
							</div>
							{% endfor %}
						</div>
						<div class="input-checkbox">
							{% comment %}
							<input type="checkbox" id="terms">	
							{% endcomment %}
							{{ form.terms }}
								<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						{% if form.terms %}
							<button class="primary-btn order-submit" type="submit" style="width: initial;">Place order</button>
						{% else %}
							<button class="primary-btn order-submit" type="submit" disabled>Place order</button>
						{% endif %}
							
					</div>
					<!-- /Order Details -->
				</form>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}
	