<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

<div class="col-md-12">
    <div class="section-title container">
        <h3 class="title">Order Summary</h3>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-resposive text-nowrap">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">S/N</th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Total</th>
                            <th></th>
                        </tr>
                    </thead>



{% for order_item in object.items.all %}
<!-- product -->
                    <tbody>
                        <tr>
                            <td><img src="{% static './img/product01.png' %}" alt="" width="50" height="50"></td>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order_item.item.title }}</td>
                            <td>{{ order_item.item.price }}</td>
                            <td class="text-center">
                                <a href="{% url 'base_app:remove-single-item-from-cart' order_item.item.slug %}"><i class="fa fa-minus mr-2"></i></a>
                                {{ order_item.quantity }}
                                <a href="{% url 'base_app:add-to-cart-order-summary' order_item.item.slug %}"><i class="fa fa-plus ml-2"></i></a></td>
                            <td class="text-right">
                                {% if order_item.item.discount_price %}
                                    ${{ order_item.get_total_discount_item_price }}
                                    <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                                {% else %}
                                    ${{ order_item.get_total_item_price }}
                                {% endif %}
                            </td>
                            <td class="text-right"><a href="{% url 'base_app:remove-from-cart-order-summary' order_item.item.slug %}"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></a></td>

                        </tr>
                    {% empty %}
                    <tr>
                        <td> Your cart is empty</td>
                    </tr>
                        <td colspan="6"></td>
                        <td></td>
                    <tr>
                        <td colspan="7">
                            <a href="/" class="primary-btn order-submit float-right">Continue shopping</a>
                        </td>
                    </tr>
                       
                    
            
<!-- /product -->
{% endfor %}
{% if object.get_total %}
        <tr>
            <td colspan="6"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
            <td colspan="6"></td>
            <td></td>
        <tr>
            <td colspan="7">
                <a href="{% url 'base_app:checkout' %}" class="primary-btn order-submit float-right ml-2">Proceed to checkout</a>
                <a href="/" class="primary-btn order-submit float-right">Continue shopping</a>
            </td>
        </tr>
{% endif %}
    </tbody>
</table>

        
            </div>
        </div>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>


{% endblock %}

