<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
{% load static %}
{% if items %}

<div class="container" style="background-color: white;  border-radius: 8px; padding-top: 5px; padding-bottom: 5px; opacity: 0.6;">
	<ul class="messages">
		<li class="{{ message.tags }}">Showing search results for '{{ searched_item }}'</li>
		
	</ul>
	</div>

<div class="section">
	<!-- container -->
	<div class="container" style="background-color: white;  border-radius: 8px;">
		<!-- row -->
		<div class="row">
		   <!-- tab -->    
		   <div class="col-md-12">
			
				
					<!-- tab -->
					
						               
			{% for item in items %}
                        
                            <!-- product -->
										<div class="">
										<div class="product col-md-3">
											<a href="{{ item.get_absolute_url }}">
											<div class="product-img">
												{% comment %}
												<img src="{% static './img/product01.png' %}" alt="">
												{% endcomment %}
												<img src="{{ item.image.url }}" style="height:235px;" alt="">
												<div class="product-label">
													{% if item.discount_price > 0 %}
													<span class="sale">
														-{{ item.get_discount_percentage }}%
														</span>
														{% endif %}
														{% if item.get_label_label_display == 'New' or item.get_label_label_display == 'Bestseller' or item.get_label_label_display == 'Special Deal' %}
														<span class="new">
															{{ item.get_label_display }}	
														</span>
														{% endif %}
												</div>
											</div>
											
											<div class="product-body">
												<p class="product-category">{{ item.get_category_display }}</p>
												<h3 class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
												<h4 class="product-price">
													{% if item.discount_price %}
													₦{{ item.discount_price }}
													{% else %}
													₦{{ item.price }}
													{% endif %}
													<del class="product-old-price">
														{% if item.discount_price %}
														₦{{ item.price }}
														{% endif %}
													</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>

											</div>
                                        </div>
                                    </div>
                                        
										<!-- /product -->


										


{% endfor %}



</div>
</div>
</div>
</div>
</div>



{% endif %}
{% endblock %}